[defaults]
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = backup_events
[inventory]
enable_plugins = yaml
[persistent_connection]
connect_timeout = 30
command_timeout = 180
